<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.speedometerr.speedviewapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.github.speedometerr.speedviewapp.MarksActivity"></activity>
        <activity android:name="com.github.speedometerr.speedviewapp.AboutActivity" />
        <activity android:name="com.github.speedometerr.speedviewapp.SectionActivity" />
        <activity android:name="com.github.speedometerr.speedviewapp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.github.speedometerr.speedviewapp.ControlActivity" />
        <activity android:name="com.github.speedometerr.speedviewapp.DeluxeSpeedActivity" />
        <activity android:name="com.github.speedometerr.speedviewapp.SpeedViewActivity" />
        <activity android:name="com.github.speedometerr.speedviewapp.AwesomeSpeedometerActivity" />
        <activity android:name="com.github.speedometerr.speedviewapp.RayActivity" />
        <activity android:name="com.github.speedometerr.speedviewapp.PointerActivity" />
        <activity android:name="com.github.speedometerr.speedviewapp.WorkWithNoteActivity" />
        <activity android:name="com.github.speedometerr.speedviewapp.CreateProgrammatically" />
        <activity android:name="com.github.speedometerr.speedviewapp.TubeSpeedometerActivity" />
        <activity android:name="com.github.speedometerr.speedviewapp.ImageSpeedometerActivity" />
        <activity android:name="com.github.speedometerr.speedviewapp.WorkWithIndicatorActivity" />
        <activity android:name="com.github.speedometerr.speedviewapp.StartEndDegreeActivity" />
        <activity android:name="com.github.speedometerr.speedviewapp.WorkWithModesActivity" />
        <activity android:name="com.github.speedometerr.speedviewapp.SpeedTextPositionActivity" />
        <activity android:name="com.github.speedometerr.speedviewapp.lineargauge.ProgressiveGaugeActivity" />
        <activity android:name="com.github.speedometerr.speedviewapp.lineargauge.ImageLinearGaugeActivity" />
        <activity android:name="com.github.speedometerr.speedviewapp.TickActivity" />
        <activity android:name="com.github.speedometerr.speedviewapp.RecyclerActivity" />
    </application>

</manifest>